@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterMedium.ttf");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
